.newsletter__container{
    background-color: black;
    width: 100%;
    height: 100%;
    min-width: 600px;
    
    display: flex;
    justify-content: center;
    column-gap: 20px;
    row-gap: 80px;
    flex-wrap: wrap;
    
}

.box__container{
    position: relative;
    margin:40px 10% 100px 10%;
    width: 310px;
    padding: 4px;
    background-color: black;
    box-shadow: 5px 5px 10px var(--color-01);
    
}

.box__container:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


.box__image{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.box__image-title{
    font-size: 1.5rem;
    color: #d3d3d3;
    margin-bottom: 10px;
}

.box__content-title{
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--color-01);
    margin-bottom: 20px;
}

.box__content-container{
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.box__content{
    font-size: 2rem;
    color: whitesmoke;
    margin-bottom: 50px;
}

.on,.off{
    background-color: whitesmoke;
    color: var(--color-01);
    border-radius: 10px;
    padding: 5px;
    font-weight: 700;
    cursor: pointer;
  }
.off{
    background-color: var(--color-01);
    color: white;
  }

.box__button{
    position: absolute;
    bottom: 20px;
    left: 15px;
    
}

.button__link{
    width: 80%;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 30px;
   
    text-decoration: none;
    cursor: pointer;
    background-color: var(--color-01);
    color: white;
}