:root{
    --color-01:#01eefe;
}

.body__container{
    background-color: black;
    display: flex;
    width: 100%;
    color: white;
    margin-top: 7rem;
}

.body__description{
    width: 60%;
    margin: 4rem;
}

.description__welcome{
    font-size: 4rem;
}

.description__name{
    font-size: 7rem;
    font-weight: bold;
}

.description__profession{
    font-size: 4rem;

    margin-bottom: 5rem;
}
.description__profession span{
    color: var(--color-01);
}

.description__content{
    font-size: 2rem;
    margin-bottom: 4rem;
}

.social-icons{
    margin-bottom: 2rem;
}

.social-icons a {
    color: #00bfff; 
    transition: color 0.3s ease;
    margin-right: 2.5rem;
  }
  
.social-icons a:hover {
    color: white; 
  }


.btn-download-cv {
    background-color: var(--color-01);
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px var(--color-01);
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.5s ease;
}
  
  .btn-download-cv:hover {
    background-color: white;
    color: var(--color-01);
  }
  

.body__image{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 40%;
}

.image__container{
    width: 70%;
    max-width: 400px;
    min-width: 200px;
    margin: 0 20% 20% 20%;
    box-shadow: 0 0 15px  8px var(--color-01);
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1; 
}

img{
    width: 100%;
    height: 100%; /* Asegura que la imagen llene el contenedor */
    object-fit: cover; /* Mantiene las proporciones sin deformar la imagen */
    display: block;
}


  