.embla {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__slide__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.box__image{
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 14px 14px 0 0;
}