.embla {
  overflow: hidden;
  width: 100%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__slide__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.box__image{
  width: 100%;
  object-fit: cover;
  display: block;
}

/* ---- BOTONES ---- */
.embla__button {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  background: #0008;
  border: none;
  color: white;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 18px;
  z-index: 10;
  transition: background 0.2s ease;
}

.embla__button:hover {
  background: #000c;
}

.embla__button--prev {
  left: 10px;
}

.embla__button--next {
  right: 10px;
}